<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut, chasseur de tête ! </h1>
    <p>
    Parmi les obus langagiers qui vont fuser sur le champ de bataille lexical, tu seras, telle une sentinelle anonyme, aux aguets. Tu cherches un esprit rebelle, incisif, ou au contraire doux, inspirant pour tes futurs projets ? </p>

    <p>L’un d’eux se démarque par sa verve victorieuse ? Suis ton instinct, écris-lui. De ses aptitudes en prose jailliront certainement le futur nom de ta boite, le futur slogan de ton produit, le prochain refrain de ton hit. Rempli le formulaire, laisse-toi guider par les instructions, nous te serviront de passerelle.    </p>
 
        <p> A très bientôt</p>
  </body>
</html>