<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cher.e punchliner,!</h1>
    <p>
      Bienvenue dans le générateur ! 

    </p>
    <p>
  Dans cet arène du bon mot, tu pourras poster ce qui te passe par la tête, à condition de respecter quelques élémentaires comme… le respect ? Pas d’insultes racistes, sexistes, lgbt-phobes.</p> 

 <p> Sois drôle, sois spitiruel.le, sois concis.e, et tape dur ! </p>

  <p> Tu seras noté.e en fonction de l’intensité de la frappe par les Strickers. </p>

 <p> Plus tu es bon, plus tu auras de chances d’être contactés par des Hunters, pourvoyeurs de ton futur travail, qui avancent masqués.  </p>

  <p> Go ! </p>
    <p> La Team Punchline 
    </p>
  </body>
</html>


 



