
$primary: #ae9fec;
$secondary: #d19ac1;
$white: #ffffff;



img
{
	max-width: 100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, +45%);
    width:100%;
}

.left {
    transform: translate(0, 0);
}

footer
{
	display: block;
	width: 100%;
  padding: 10px;  
  display: flex;
  align-items: center;
  display: table-cell;
  vertical-align: middle;
}

.maxlist {
max-width: 190px;
margin: 0 auto;
}

logo-acueil {
  margin-left: auto;
  margin-right: auto;
  display: block;
  display: table-cell;
  vertical-align: middle;
}

.lauriers {
  margin-left: 10px;
  margin-right: 10px;
}

.vertical-align { 
  display: table-cell;
  vertical-align: middle;
}


.fixed-top-2 {
    margin-top: 56px;
}

.chat {
  border: 1px solid lighten($secondary, 40%);
  background: lighten($secondary, 50%);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;

}


.chat-message-container {
  padding: 5px;

  .avatar {
    margin: 5px;
  }

  .message-content {
    padding: 5px;
    border: 1px solid $primary;
    border-radius: 5px;
    background: lighten($primary, 10%);
    color: $white;
  }

  & + .chat-message-container {
    margin-top: 10px;
  }
}


.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}


.room-nav-link {
  border: 1px solid lighten($primary, 40%);
  background: lighten($primary, 45%);

  & + .room-nav-link {
    border-top: 0 none;
  }
}

.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
}
