<footer class="footer rest-of-page">
  <div class="footer-bottom">
    <div class="container">
      <div class="row d-flex">
        <p class="col-lg-12 ul-footer">
         <ul class="ul-footer"> A propos</ul>
         <ul class="footer-text"> Nous contacter</ul>
         <ul class="footer-text"> <%= link_to "Terms and Conditions", terms_path, data: { turbolinks: false } %></ul>
        </p>
        <p class="col-lg-12 footer-text text-center">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright 2019 &copy;All rights reserved
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        <p class="col-lg-12 footer-text text-center">
        Projet Final THP de : Alexandre, Gaëlle, Hadrien, Cécile.
        </p>
      </div>
    </div>
  </div>
</footer>