<!-- Footer -->
<footer class="fixed-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3 center">
          <a href="#!" class="text-white">A propos</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3 center">
        <div id="logo-acueil">
          <a href="#!" class="text-white">Contact</a>
        </h6>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3 mx-auto">
        <div id="logo-acueil"><a href="<%= root_path %>"><%= image_tag("logo.svg") %></a>
      </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3 center">
          <a href="#!" class="text-white">Presse</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3 center">
          <a class="text-white" <%= link_to "Confidentialite", terms_path, data: { turbolinks: false } %></a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="text-white">© 2019 Copyright the hacking project
        <a><%= image_tag("lauriers.png", size: "30x30", class: "lauriers") %></a>
        Federation du manque de respect
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->